body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
span {
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#lightgreen {
  background: lightgreen;
}

#pink {
  background: pink;
}
#skyblue {
  background: skyblue;
}
#lemonchiffon {
  background: lemonchiffon;
}
