header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-size: 20px;
  padding: 0px 10px;
}

header img {
  max-width: 100px;
}
